{% extends "layout.html" %} {% block content %}
<a class="btn btn-primary mt-3" href="/barbers/create">Create New Barber</a>

<h1 class="my-2">Barber List</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Age</th>
      <th scope="col">Experience</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for barber in barbers %}
    <tr>
      <th scope="row">{{ barber.id }}</th>
      <td>
        <a href="/barbers/{{ barber.id }}"> {{ barber.name }} </a>
      </td>
      <td>{{ barber.position }}</td>
      <td>{{ barber.birthdate }}</td>
      <td>{{ barber.experience }}</td>
      <td>
        <a href="/barbers/delete/{{ barber.id }}" class="btn btn-sm">
          <i class="fa-solid fa-trash-can"></i
        ></a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-muted">No barbers found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
