{% extends "layout.html" %} {% block content %}
<h1 class="my-2">Barber List</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Age</th>
      <th scope="col">Experience</th>
    </tr>
  </thead>
  <tbody>
    {% for barber in barbers %}
    <tr>
      <th scope="row">{{ barber.id }}</th>
      <td>{{ barber.name }}</td>
      <td>{{ barber.position }}</td>
      <td>{{ barber.birthdate }}</td>
      <td>{{ barber.experience }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-muted">No barbers found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
